*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ecf0f3;
    font-family: sens-serif;
    outline: none;
    user-select: none;

}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.buttons{
    background-color: #ecf0f3;
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #ffffff,
                      5px 5px 12px rgba(0,0,0,.16);
    display: grid;
    grid-template-columns: repeat(4,68px);
    
}

#display{
    display: flex;
    justify-content: end;
    align-items: center;
    grid-column: span 4;
    height: 70px;
    width: 260px;
    background-color:#ecf0f3;
    box-shadow:inset -5px -5px 12px #ffffff,
               inset      5px 5px 12px rgba(0,0,0,.16);
    border: none;
    border-radius: 30px;
    color: rgb(70, 70, 70);
    font-size: 50px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;
    overflow: hidden;
    
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    background-color: #ecf0f3;
    box-shadow: -5px -5px 12px #ffffff,
                 5px  5px 12px rgba(0,0,0,.16);
    border: none;
    border-radius: 50%;
    margin: 8px;
    font-size: 16px;
}


.button:active{
    background-color:#ecf0f3;
    box-shadow:inset -5px -5px 12px #ffffff,
               inset      5px 5px 12px rgba(0,0,0,.16);
    border: none;
    border-radius: 50%;
    font-weight: 500;
    font-size: 12px;
    }

  #red{
    color: red;
  }  

  #equal{
    width: 120px;
    border-radius: 40px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-size: 29px;
  }

  #equal:active{
    background-color: rgb(0, 0, 0);
    box-shadow:inset -5px -5px 12px #454444b1,
               inset      5px 5px 12px rgba(60, 59, 59, 0.634);
    border: none;
    border-radius: 40px;
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-size: 20px;
  }

  #lightBlue{
    
    color: rgb(0, 183, 255);
    font-weight: 800;
    font-size: 20px;
  }

  #lightBlue:active{
    background-color:#ecf0f3;
    color: rgb(0, 183, 255);
    box-shadow:inset -5px -5px 12px #ffffff,
               inset      5px 5px 12px rgba(0,0,0,.16);
    border: none;
    border-radius: 50%;
    font-weight: 800;
    font-size: 15px;
  }